.prose p {
    margin-bottom: 12px;
}

.prose h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: 4px;
    margin-top: 4px;
}

.prose h2 {
    font-size: x-large;
}

.prose h3 {
    font-size: large;
}

.prose ul li {
    list-style-type: disc;
    padding-left: 4px;
}

.prose a {
    text-decoration: underline;
}